@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Avenir.woff") format("woff"),
    url("../fonts/Avenir.ttf") format("truetype"),
    url("../fonts/Avenir.svg#Avenir") format("svg");
}

li,
a,
button,
p,
h2,
h3 {
  font-family: "Avenir", Helvetica, sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  flex: 10;
}

.navLinks {
  display: flex;
}

.navLinks li {
  padding: 0px 20px;
}

.navLinks li a {
  color: #4b5d68;
  text-decoration: none;
}

body {
  margin: 3% 20%;
}

.logo {
  display: flex;
  align-items: flex-end;
  flex: 2;
}

.pinkDot {
  height: 35px;
  width: 20px;
  background-color: #f06388;
  border-radius: 20px;
  display: inline-block;
  margin-left: 0.5rem;
}

.purpleDot {
  height: 20px;
  width: 20px;
  background-color: #9c69e2;
  border-radius: 20px;
  display: inline-block;
}

#requestDemo {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  border: none;
  height: 60px;
  min-width: 210px;
  flex: 1 0 auto;
}

#learnMore {
  background-color: #9c69e2;
  color: #ffffff;
  border-radius: 50px;
  height: 60px;
  border: none;
  width: 170px;
}

#learnMorePink {
  background-color: #f06388;
  color: #ffffff;
  border-radius: 50px;
  width: 170px;
  height: 60px;
  border: none;
}

.mediumTitle {
  font-size: 40px;
  padding: 2rem 0;
}

.footerTitle {
  font-size: 16px;
  font-weight: 400;
}

#promotion {
  margin: 10% auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-image: url("../images/promotion.png");
  background-repeat: no-repeat;
  background-size: 600px;
  background-position-x: right;
  background-position-y: bottom;
}

#headline p {
  width: 40%;
  margin: 2rem 0;
  line-height: 1.5rem;
  font-size: 18px;
  color: #4b5d68;
}

#promoTitle {
  width: 80%;
  font-size: 80px;
  color: #212353;
}

#about {
  margin: 10% auto;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

#features {
  margin: 10% auto;
}

#subHeadline p {
  width: 80%;
  line-height: 1.5rem;
}

#subHeadlineText {
  flex: 1;
}

#headlineImg {
  flex: 1;
}

#featuresTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}

#featuresDescription {
  text-align: center;
  padding-bottom: 5rem;
}

#featuresCards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: inherit;
}

#searchCard {
  flex: 1;
  margin-right: 5rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  display: flex;
  background-image: url("/assets/images/searchDataBG.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 20px;
}

#accessCard {
  flex: 1;
  margin-right: 5rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  display: flex;
  background-image: url("/assets/images/accessBG.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 20px;
}

#printCard {
  flex: 1;
  margin-right: 5rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  display: flex;
  background-image: url("/assets/images/printOutBG.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 20px;
}

#securityCard {
  flex: 1;
  margin-right: 5rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
  display: flex;
  background-image: url("/assets/images/securityCodeBG.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 20px;
}

.cardTitles {
  font-size: 24px;
  color: #212353;
}

.cardParagraph {
  font-size: 16px;
  color: #4b5d68;
}

#cardImg {
  flex: 1;
  padding: 1rem;
}

.cardInformation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.cardButton {
  font-size: 16px;
  color: #212353;
}

#testimonials {
  margin: 10% auto;
}

#testimonialsBody {
  background: #9c69e2;
  border-radius: 50px;
  height: 709px;
  width: 1118px;
  padding-left: 5rem;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#testimonialHeader {
  padding-top: 8rem;
  font-size: 40px;
  color: #ffffff;
  padding-right: 15rem;
}

.testimonialName {
  font-size: 18px;
  color: #212353;
}

#testimonialCardJohn {
  background: #ffffff;
  height: 330px;
  width: 600px;
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(128, 71, 213, 0.5);
  padding: 4rem;
  margin-right: 1.5rem;
  display: flex;
}

#testimonialCardJeny {
  height: 330px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0px 20px 0px rgba(128, 71, 213, 0.3);
  padding: 4rem;
  background: linear-gradient(
    270deg,
    #9c69e2 9.75%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
}

#jenyBackground {
  background: #ffffff;
  border-radius: 20px;
  height: 330px;
  width: 400px;
}

.testimonialTitle {
  font-size: 14px;
  color: #9c69e2;
}

.testimonlial {
  font-size: 14px;
  padding-top: 2rem;
  line-height: 1.5rem;
}

.testimonialImg {
  width: 6rem;
  height: 6rem;
}

.testmonialText {
  padding-left: 1rem;
  padding-top: 2rem;
}

.footer {
  border-top: 1px solid #9c69e2;
  display: flex;
  flex-direction: column;
}

.footerTop {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
}

.cta {
  align-items: flex-start;
  flex: 2;
}

.ctaButtons {
  padding-top: 3rem;
}

.footerBottom {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

#address {
  line-height: 1.5rem;
  flex: 2;
}

.footerTitles {
  padding-bottom: 3rem;
}

.footerTitles p {
  font-size: 20px;
  font-weight: 400;
}

.footerAddress {
  padding-bottom: 1rem;
}

#footerAbout {
  line-height: 1.5rem;
  flex: 1;
}

#footerHelp {
  line-height: 1.5rem;
  flex: 1;
}

ul {
  list-style: none;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* responsive break points */
@media screen and (min-width: 401px) and (max-width: 1670px) {
  #testimonialCardJeny {
    display: none;
  }
  #jenyBackground {
    display: none;
  }
  #testimonialsBody {
    width: 75%;
    margin-left: 5rem;
  }
  #promotion {
    width: 75%;
    height: 75%;
  }
  #about {
    width: 75%;
    height: 75%;
  }
  #features {
    width: 75%;
    height: 75%;
  }
  #promoText {
    background: rgba(254, 251, 253, 0.5);
    border-radius: 5px;
    padding: 1rem;
  }
  #subHeadlineText h2 {
    font-size: 2rem;
  }
  #subHeadlineText p {
    font-size: 1rem;
  }
}

@media screen and (min-width: 401px) and (max-width: 1457px) {
  #testimonialsBody {
    padding: 1rem;
    height: 50%;
  }
  #testimonialHeader {
    padding-top: 1rem;
  }
  .cardTitles {
    font-size: 1rem;
  }
  .cardParagraph {
    font-size: 0.75rem;
  }
  #headlineImg {
    padding: 1rem;
  }
}
